<%- include('../partials/web-header.ejs') %>
<!--section 1-->
<div
  class="h-[100vh] md:h-[70vh] bg-cover bg-center grid grid-cols-1 md:grid-cols-2 content-center"
  style="background-image: url('<%= contents.BG_HOME_1%>')"
>
  <div
    class="bg-[#000000b3] justify-end md:bg-transparent px-6 mx-auto lg:max-w-[600px] flex flex-col md:justify-center w-full h-full p-3 absolute z-40 bottom-0 md:relative"
  >
    <%- contents.CONTENT_HOME_1%>
    <button
      class="my-5 border border-[#7A9576] px-4 py-2 bg-[#E4EAE1] rounded-md text-[#7A9576] text-sm w-44"
    >
      Chọn món ngay
    </button>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 max-w-[850px] overflow-hidden">
    <div class="scrolling-up hidden md:block">
      <img src="<%= contents.IMG_SLIDE_HOME_6 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_3 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_1 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_5 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_4 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_2 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_4 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_6 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_2 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_1 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_5 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_3 %>" alt="" class="w-full mb-2" />
    </div>
    <div class="scrolling-down">
      <img src="<%= contents.IMG_SLIDE_HOME_3 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_1 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_4 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_2 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_6 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_5 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_1 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_3 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_5 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_4 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_2 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_6 %>" alt="" class="w-full mb-2" />
    </div>
    <div class="scrolling-up">
      <img src="<%= contents.IMG_SLIDE_HOME_5 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_2 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_6 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_3 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_1 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_4 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_3 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_5 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_6 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_4 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_1 %>" alt="" class="w-full mb-2" />
      <img src="<%= contents.IMG_SLIDE_HOME_2 %>" alt="" class="w-full mb-2" />
    </div>
  </div>
</div>
<!--section 2-->
<div
  class="grid max-w-[1200px] grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 container mx-auto mt-36 justify-center"
>
  <div
    class="bg-[#F3F6F3] p-9 relative h-[420px] max-w-[360px] mx-auto flex flex-col justify-end rounded-3xl mb-20"
  >
    <img
      src="<%= contents.CARD_2_IMG_1_HOME %>"
      class="absolute m-auto left-0 right-0 bottom-[45%]"
      alt="<%= contents.CARD_2_TITLE_1_HOME %>"
    />
    <h1 class="text-center text-lg mb-3">
      <%= contents.CARD_2_TITLE_1_HOME %>
    </h1>
    <p class="text-center"><%= contents.CARD_2_CONTENT_1_HOME %></p>
  </div>
  <div
    class="bg-[#F3F6F3] p-9 relative h-[420px] max-w-[378px] mx-auto flex flex-col justify-end rounded-3xl mb-20"
  >
    <img
      src="<%= contents.CARD_2_IMG_2_HOME %>"
      class="absolute m-auto left-0 right-0 bottom-[45%]"
      alt="<%= contents.CARD_2_TITLE_2_HOME %>"
    />
    <h1 class="text-center text-lg mb-3">
      <%= contents.CARD_2_TITLE_2_HOME %>
    </h1>
    <p class="text-center"><%= contents.CARD_2_CONTENT_2_HOME %></p>
  </div>
  <div
    class="bg-[#F3F6F3] p-9 relative h-[420px] max-w-[378px] mx-auto flex flex-col justify-end rounded-3xl mb-20"
  >
    <img
      src="<%= contents.CARD_2_IMG_3_HOME %>"
      class="absolute m-auto left-0 right-0 bottom-[45%]"
      alt="<%= contents.CARD_2_TITLE_3_HOME %>"
    />
    <h1 class="text-center text-lg mb-3">
      <%= contents.CARD_2_TITLE_3_HOME %>
    </h1>
    <p class="text-center"><%= contents.CARD_2_CONTENT_3_HOME %></p>
  </div>
</div>
<!--section 3-->
<div class="grid grid-cols-1 lg:grid-cols-3 mb-36 max-w-[2000px] mx-auto">
  <div class="flex justify-start">
    <img src="<%= contents.BG_3_HOME%>" alt="" class="max-h-[400px]" />
  </div>
  <div class="col-span-2 p-8">
    <%- contents.CONTENT_3_HOME %>
    <button
      class="my-5 border border-[#7A9576] px-4 py-2 bg-[#E4EAE1] rounded-md text-[#7A9576] text-sm"
    >
      Go to About
    </button>
  </div>
</div>
<!--section 4-->
<div class="container my-36 mx-auto">
  <img src="<%= contents.BANNER_SALE_HOME%>" alt="" class="max-h-[400px]" />
</div>
<%- include('../partials/web-footer.ejs') %>
